<!DOCTYPE html>
<html>
<head>
  <title>FooBar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if not Rails.env.production? and controller.controller_name == 'welcome' and controller.action_name == 'index' %>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="ext/ext-dev.js"></script>
    <script src="app.js"></script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
